@font-face {
  font-family: "PPAgrandir";
  src: url("../../public/figmafonts/PP\ Agrandir/PPAgrandir-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: PPAgrandir;
  font-weight: 400;
  font-size: 24px;
  line-height: 31.68px;
  left: 130.76px;
}
