$primary-color: #ffffff;
$secondary-color: #0c0d10;
$tertiary-color: #b488f2;
$gradient-end: #222737;
$text-color: #808080;
$border-color: #FFFFFF99;
$started-color: #FAFAFA;

@font-face {
font-family: "Sohne";
src: url("../public/figmafonts/Sohne\ \(Body\)/Sohne-Buch.otf") format("otf");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Bagoss";
src: url("../public/figmafonts/Bagoss/BagossTRIALVF.ttf") format("ttf");
font-weight: normal;
font-style: normal;
}
