@import "./variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between; /* Space out title, Lottie, and bottom container */
  overflow: hidden; /* Ensure nothing overflows the container */
}

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.title {
  font-size: 2rem; /* Adjust the size as needed */
  text-align: center;
}

.lottieContainer {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1; /* Allow the Lottie to take up available space */
  align-items: center;
}

.lottie {
  width: 274px;
  height: 290px;
  z-index: 1;
  transition: transform 1s ease; /* Ensure smooth transition */
}

.shrinking {
  transform: scale(0.5); /* Adjust the scale value as needed */
}

.textContainer {
  position: absolute;
  z-index: 2;
}

.textOverlay {
  font-size: 12px;
  white-space: nowrap;
  position: relative;
}

.getStartedButton {
  background-color: $tertiary-color;
  color: $secondary-color;
  border-radius: 16px;
  font-family: Sohne;
  font-weight: 400;
  line-height: 21.6px;

  &:hover {
    background-color: lighten($tertiary-color, 10%);
  }
}

.getStartedButton:focus {
  border-radius: 16px;
}

.bottomContainer {
  text-align: center;
  padding: 24px 20px 24px 20px;
}

.highlight {
  color: $tertiary-color;
}

.line1 {
  width: 292px;
  height: 16px;
  top: 177px;
  left: 20px;
  font-family: Sohne;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0.02em;
  text-align: left;
}

.line2 {
  width: 138px;
  height: 16px;
  top: 218px;
  left: 223px;
  font-family: Sohne;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0.02em;
  text-align: center;
}

.line3 {
  width: 154px;
  height: 16px;
  top: 279px;
  left: 20px;
  font-family: Sohne;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0.02em;
  text-align: left;
}

.line4 {
  width: 217px;
  height: 16px;
  top: 343px;
  left: 142px;
  font-family: Sohne;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0.02em;
  text-align: center;
}

.line5 {
  width: 236px;
  height: 32px;
  top: 406px;
  left: 21px;
  font-family: Sohne;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0.02em;
  text-align: left;
}

.description {
  font-family: Bagoss;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  margin: 0 20px;
}

@media (min-width: 768px) {
  .lottie {
    height: 1000px;
    width: 1000px;
  }

  .button {
    font-size: 1.5rem;
    color: $secondary-color;
    width: 350px;
    height: 60px;
  }

  .textOverlay {
    font-size: 1.5rem;
    margin: 10px 0;
    white-space: nowrap;
  }
}
