@import "./variables";


.text {
  font-family: Bagoss;
  font-weight: 400;
  line-height: 22.8px;
  color: $started-color;
  text-align: center;
  font-size: 19px;
  padding: 24px 20px 24px 20px;
}

.lottie {
  width: 100px;
  height: 100px;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.lottieContainer {
  margin-bottom: 20px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 20px 0;

  .backButton {
    position: absolute;
    left: 20px;
  }

  .title {
    flex-grow: 1;
    text-align: center;
  }
}
